{{ if eq .Type "tags" }}
  <script src="/ocitutorials/js/tag-filter.js"></script>
{{ end }}
<nav>
  <!-- 検索窓 -->
  <!-- {{ partial "search" . }} -->
  <!------------------>

  <!-- ナビゲーション -->
  <!-- <section class="gdoc-nav--main">
    <h3>{{ i18n "nav_navigation" }}</h3>
    {{ if .Site.Params.geekdocMenuBundle }}
      {{ partial "menu-bundle" (dict "current" . "source" .Site.Data.menu.main.main) }}
    {{ else }}
      {{ partial "menu-filetree" . }}
    {{ end }}
  </section> -->
  <!------------------>

  <!-- タグフィルター -->
  {{ if eq .Type "tags" }}
    <section class="gdoc-nav--tags">
      <h1>&nbsp;{{ i18n "nav_tags" }}</h1>
      <div id="tag-filters">
        <div class="tag-item">
          <label><input type="checkbox" value="all" checked>&nbsp;すべて</label>
        </div>
        <br>
        {{ $allTags := slice }}
        {{ range .Site.RegularPages }}
          {{ with .Params.tags }}
            {{ range . }}
              {{ $allTags = $allTags | append . }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ $uniqueTags := $allTags | uniq | sort }}

        {{ range $uniqueTags }}
          <div class="tag-item">
            <label><input type="checkbox" class="tag-checkbox" value="{{ . }}">&nbsp;{{ . }}</label>
          </div>
        {{ end }}
      </div>
    </section>
  <!-- 目次セクション -->
  {{ else }}
    <section class="gdoc-nav--toc">
      <h1>&nbsp;{{ i18n "nav_toc" }}</h1>
      {{ if .TableOfContents }}
        {{- with .TableOfContents }}
          {{- $toc := . -}}
          {{- $toc = replaceRE `<nav id="TableOfContents">\s*<ul>\s*<li>\s*<ul>` `<ul>` $toc -}}
          {{- $toc = replaceRE `</ul>\s*</li>\s*</ul>\s*</nav>` `</ul>` $toc -}}
          <!-- <nav>を剥がす -->
          {{- $toc = replaceRE `(?s)^<nav[^>]*>(.*?)
            </nav>$` `$1` $toc -}}
          <!------------------->
          {{- $toc | safeHTML -}}
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
</nav>
