---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Overriding _sass/minimal-mistakes/_variables.scss
$sans-serif: "Oracle Sans", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default; // modifiey by mmarukaw: added Oracle Sans

$link-color: #00688c;
$x-large: 1510px !default; // modified by mmarukaw. original:1280px
$primary-color: #cc4c34; // added by gnakumur, for adjusting minimal-mistakes contrast skin's default red.

div {
  .sidebar__right {
    overflow-y: scroll;
    height: 500px;
  }
}

.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  list-style: none;
  position: relative;
}

.tab > * {
  flex: none;
  padding-left: 20px;
  position: relative;
}

.tab > * > a {
  display: block;
  text-align: center;
  padding: 9px 20px;
  color: #999;
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.1s ease-in-out;
  line-height: 20px;
}

.tab > .active > a {
  color: #222;
  border-color: #cc4c34;
}

.tab li a {
  text-decoration: none;
  cursor: pointer;
}

.tab-content {
  padding: 0;
}

.tab-content li {
  display: none;
}
.tab-content li.active {
  display: initial;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
