---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Overriding _sass/minimal-mistakes/_variables.scss
$sans-serif: "Oracle Sans", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default; // modifiey by mmarukaw: added Oracle Sans

$link-color: #00688c;
$x-large: 1510px !default; // modified by mmarukaw. original:1280px
$primary-color: #cc4c34; // added by gnakumur, for adjusting minimal-mistakes contrast skin's default red.

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
