{{ define "main" }}
  {{ partial "page-header" . }}
  <h1>{{ partial "utils/title" . }}</h1>
  <div class="cards-grid">
    {{ if eq .Type "tags" }}
      {{ range where .Site.RegularPages "Params.tags" "ne" nil }}
        <a href="{{ .RelPermalink }}" data-tags="{{ delimit .Params.tags " " | lower }}">
          {{ partial "card" . }}
        </a>
      {{ end }}
    {{ else }}
      {{ range .Pages.ByWeight }}
        <a href="{{ .RelPermalink }}">
          {{ partial "card" . }}
        </a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}